* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-right: 4px;
}

.logo-text {
    font-family: Gabarito, sans-serif;
    font-size: 50px;
    color: #0035E7;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #131313;
    font-size: 14px;
}

.nav-links a:hover {
    color: #0035E7;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-section .icon {
    font-size: 20px;
    color: #0035E7;
}

.login-btn {
    padding: 8px 12px;
    background-color: #0035E7;;
    color: #ffffff;
    border: 1px solid #ffffff;
    text-decoration: none;
    border-radius: 4px;
}

.login-btn:hover {
    background-color: #ffffff;;
    border: 1px solid #0035E7;
    color: #0035E7;
}

.reg-button {
    padding: 8px 12px;
    background-color: #ffffff;;
    border: 1px solid #0035E7;;
    color: #0035E7;
    text-decoration: none;
    border-radius: 4px;
    transition: color 0.3s ease;
}

.reg-button:hover {
    background-color: #0035E7;;
    border: 1px solid #0035E7;;
    color: #fff;
}